.header {
  background-blend-mode: soft-light;
  background-color: var(--color-primary);
  background-image: url(../../img/img-2.jpg);
  background-size: cover;
  background-position: center;
  padding: 2rem 0 8.4rem 0;
}
