:root {
  --color-primary: #1864ab;

  --color-primary-light-1: #1e7ad1;
  --color-primary-light-2: #3991e3;
  --color-primary-light-3: #61a7e8;

  --color-primary-dark-1: #155591;
  --color-primary-dark-2: #134e85;
  --color-primary-dark-3: #0e3961;

  --color-gray-light-1: #f8f9fa;
  --color-gray-light-2: #f1f3f5;
  --color-gray-light-1: #dee2e6;

  --color-gray-dark-1: #616161;
  --color-gray-dark-2: #516170;
  --color-gray-dark-3: #57616b;

  --color-white: #fff;
  --color-black: #000;
}
